<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Logo</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% for m in menu %}
                    <li class="nav-item">
                        {% if active_class == m.url_name %}
                            <a class="nav-link active" aria-current="page" href="{% url m.url_name %}">{{ m.title }}</a>
                        {% else %}
                            <a class="nav-link" aria-current="page" href="{% url m.url_name %}">{{ m.title }}</a>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
            <ul class="navbar-nav">
                {% if auth %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page"
                           href="{% url 'login' %}">Привет {{ username }}!</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Выход</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Войти</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
